<!-- {% load static %} -->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>APPothecary</title>
    
  </head>

  <body>
    <h1>APPothecary</h1>
    <nav class="navbar has-shadow">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="" alt="soap logo" style="max-height: 70px" class="py-2 px-2">
            </a>
        </div>
        <div class ="navbar-menu">
            <div class="navbar-start">
                <a class ="navbar-item" href="/">Home</a>
                <a class ="navbar-item" href="/lyecalc">Create a Recipe</a>
                <a class ="navbar-item" href="/myrecipes">My Recipes</a>
                <a class ="navbar-item" href="/volume">Volume Calc</a>
                <a class ="navbar-item" href="/formulas">Formulas</a>
            </div>

        </div>

    </nav>
    <div class="main">
    {% block content %}
    {% endblock %}
    </div>
  </body>
</html>
