<!-- {% load static %} -->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>APPothecary</title>
    
  </head>

  <body>
    <nav class="navbar has-shadow">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <img src="images/soap.png" alt="soap logo" style="max-height: 70px" class="py-2 px-2"/>
            </a>
        </div>
        <div class ="navbar-menu">
            <div class="navbar-start">
                <a class ="navbar-item" href="/lyecalc">Create a Recipe</a>
                <a class ="navbar-item" href="/myrecipes">My Recipes</a>
                <a class ="navbar-item" href="/volume">Volume Calc</a>
                <a class ="navbar-item" href="/formulas">Formulas</a>
            </div>

        </div>

    </nav>
    
    <div class="main has-background-danger-light">
    {% block content %}
    {% endblock %}
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>Copyright 2023 APPothecary</p>
        </div>

    </footer>
  </body>
</html>
