{% extends 'recipemaker/base.html' %} {% block content %}

<div class="'user-info">
    {% if user.is_authenticated %} Hiya, {{ user.username }}!
        <a href="{% url 'logout' %}">Log Out</a>
        <ul>
            <li><a href="/lyecalc">Create a Recipe</a></li>        
            <li><a href="/myrecipes">My Recipes</a></li>
            <li><a href="/volume">Volume Calc</a></li>
            <li><a href="/formulas">Formulas</a></li>
        </ul>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Signup</a>
    {% endif %}
</div>

{% endblock %}