{% extends 'recipemaker/base.html' %} {% block content %}
<p>choose Na SAP or K SAP, use conditional for which sap value to use</p>
<p>choose lye water ratio 33%, 38%, 2:1, 3:1</p>
<p>choose super fat percentage, 0-</p>

<a href="/oils">Oils</a>
<p>choose percentages of oils</p>
<p>hardness range 29-54, cleansing 12-22, conditioning 44-69, bubbly 14-46</p>
<p>ins 136-165</p>
<p>math = percent * 16 * sap value</p>
<a href="/additives">Additives</a>
<p> choose percentages</p>
<p>give recipe a name</p>


{% endblock %}