<h1>Volume Calculator</h1>
<h3>Cylinder</h3>
<p>image of a cylinder with dimension illistrations</p>
<p>formula for cylinder V= pi* rsquared * height(in cubic inches) * 0.4 to find the total ounces of oil </p>

<h3>retangular</h3>
<p>image of a rectangle with dimension illistrations</p>
<p>formula for rectangle V= L* W * H(in cubic inches) * 0.4 to find the total ounces of oil </p>

<h3>Irregular Molds</h3>
<p>maybe an image?</p>
<p>fill mold with water, number of ounces * 1.8 = cubic inches in mold, * 0.4 for number of ounces of oil </p>